.MenuEntity {
  background-color: #eee;
  display: block;
  margin-bottom: 3px;
  padding-left: 5px;
  user-select: none;
}

.MenuEntity:hover {
  cursor: pointer;
  background-color: #ddd;
}

.MenuEntity img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
